// bower:scss
// endbower

* { box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

// Variables
$slate: #231f20;
$granite: #1e191a;
$cubic: cubic-bezier(.09,.76,.29,1);

$vertical: 120px;
$sans: 'Patron', Helvetica, Arial, sans-serif;

// General
html { overflow-y: scroll; }
body { color: $slate; font-family: $sans; }
li { list-style-type: none; }
a { text-decoration: none; }
::selection { background: black; color: white; outline: none; }
::-webkit-selection { background: black; color: white; outline: none; }
::-webkit-input-placeholder { color: white; }
:-moz-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }


// Utilities
.remove { display: none; }
.hide { opacity: 0; pointer-events: none; }


// Grid
#wrap { 
  width: 100%; 
  overflow: hidden; 
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity $cubic 1s;
}

section {
  display: block;
  width: 100%;
  overflow: auto;
  padding: $vertical 0 0 0;
  overflow: hidden;
}

section div, footer div { float: left; }

.grid {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0 5%;
  pointer-events: none;
  opacity: 0;
  transition: all ease .2s;
  .col {
    float: left;
    width: calc(100% / 6 - 50px);
    height: 100%;
    margin-right: 60px;
    background: red;
    opacity: .05;
    &:nth-child(6) {
      margin-right: 0;
    }
  }
  &.active {
    opacity: 1;
  } 
}

.fluid {
  width: 100%;
  float: left;
  line-height: 0;
  // background: #999;  
}

.full {
  width: 100%;
  padding: 0 5%;
}

.half {
  width: calc(50% - 30px);
  margin-right: 60px;
  line-height: 0;
  //background: rgba(255,0,0,.1);
  overflow: hidden;
  .full {
    padding: 0;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
}

.third {
  width: calc(100% / 3 - 40px);
  margin-right: 60px;
  //background: rgba(255,255,0,.1);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.sixth {
  width: calc(100% / 6);
}

// .twothirds {
//   width: calc(100% / 3 * 2);
//   // margin-right: 60px;
//   //background: rgba(255,255,0,.1);
// }

.flush {
  margin: 0;
}

.full, .fluid, .half, .third {
  img {
    display: inline-block;
    // max-width: 100%;
    width: 100%;
  }
}



// Typography

//    Heading
h1, h2 {
  font: 700 50px/60px $sans;
}

//    Subhead
h3, h4, h5  {
  font: 700 30px/40px $sans;
}

//    Content
p, a  {
  font: 20px/28px $sans;
  margin-bottom: 28px;
  color: $slate;
  &:last-child {
    margin-bottom: 0;
  }
}

input, ul, li {
  font: 20px/28px $sans;  
}


// Navigation 

header {
  li {
    display: inline-block;
  }
}

