<section class="home">

	<div class="full">
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
				<source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
				<source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
				<img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>

	</div>


	<div class="full">
		
		<div class="half view">
			<picture>
				<source media="(max-width: 480px)" srcset="http://placehold.it/130x170/f2f2f2 1x, http://placehold.it/260x345/f2f2f2 2x">
				<source media="(max-width: 800px)" srcset="http://placehold.it/330x450/f2f2f2 1x, http://placehold.it/660x890/f2f2f2 2x">
				<source media="(max-width: 1200px)" srcset="http://placehold.it/760x1000/f2f2f2, http://placehold.it/1500x2000/f2f2f2 2x">
				<img src="http://placehold.it/760x1000/f2f2f2" alt="Some image">
			</picture>
		</div>
		
		<div class="half view">
			<picture>
				<source media="(max-width: 480px)" srcset="http://placehold.it/130x170/f2f2f2 1x, http://placehold.it/260x345/f2f2f2 2x">
				<source media="(max-width: 800px)" srcset="http://placehold.it/330x450/f2f2f2 1x, http://placehold.it/660x890/f2f2f2 2x">
				<source media="(max-width: 1200px)" srcset="http://placehold.it/760x1000/f2f2f2, http://placehold.it/1500x2000/f2f2f2 2x">
				<img src="http://placehold.it/760x1000/f2f2f2" alt="Some image">
			</picture>
		</div>

	</div>


	<div class="full">
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
				<source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
				<source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
				<img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>

	</div>

	
	<div class="full">
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
				<source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
				<source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
				<img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>

	</div>


	<div class="full view">

		<picture>
			<source media="(max-width: 480px)" srcset="http://placehold.it/280x170/f2f2f2 1x, http://placehold.it/700x410/f2f2f2 2x">
			<source media="(max-width: 800px)" srcset="http://placehold.it/700x410/f2f2f2 1x, http://placehold.it/1300x750/f2f2f2 2x">
			<source media="(max-width: 1200px)" srcset="http://placehold.it/1300x750/f2f2f2, http://placehold.it/2600x1500/f2f2f2 2x">
			<img src="http://placehold.it/1300x750/f2f2f2" alt="Some image">
		</picture>

	</div>

	
	<div class="full">
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
              <source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
              <source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
              <img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>
		
		<div class="third view">
            <picture>
				<source media="(max-width: 480px)" srcset="http://placehold.it/320x430/f2f2f2 1x, http://placehold.it/480x640/f2f2f2 2x">
				<source media="(max-width: 1200px)" srcset="http://placehold.it/480x640/f2f2f2">
				<img src="http://placehold.it/480x640/f2f2f2" alt="Some image">
            </picture>
		</div>

	</div>

</section>